.App {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-flow: column wrap;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

/* ------------------------- Column Sample ------------------------- */

.sample {
  max-height: 80vh;
  border: 2px solid transparent;
}

.big-box {
  margin: 4px;
  width: 50px;
  height: 50px;
}

.grey {
  background-color: grey;
}

.purple {
  background-color: purple;
}

/* ------------------------- Legend ------------------------- */

.legend {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 200px;
  width: 150px;
  background-color: black;
  border: 2px solid orange;
  z-index: 1000;
}

.legend-buttons {
  display: flex;
  flex-flow: row wrap;
}

p {
  color: white;
  font-size: 16px;
  margin: 3px;
}

button {
  height: 26px;
  width: 69px;
  margin: 3px;
  text-align: center;
}

.big-button {
  width: 144px;
  margin: 3px;
  text-align: center;
}
